<h1>Flight Search</h1>

<form>
  <div>
    <label for="from">From:</label>
    <input [formField]="filterForm.from" id="from" />
  </div>
  <div>
    <label for="to">To:</label>
    <input [formField]="filterForm.to" id="to" />
  </div>
  <div>
    <button type="button" (click)="search()" [disabled]="!filter().from || !filter().to">
      Search
    </button>
  </div>
</form>
@if (flights().length > 0) {
  <table>
    <tr>
      <th>Id</th>
      <th>From</th>
      <th>To</th>
      <th>Date</th>
      <th>Delayed</th>
    </tr>
    @for (flight of flights(); track flight.id) {
      <tr
        [class.selected]="selectedFlight() === flight"
        [style.color]="flight.delayed ? 'darkred' : 'black'"
        (click)="select(flight)"
        class="selectable"
      >
        <td>{{ flight.id }}</td>
        <td>{{ flight.from }}</td>
        <td>{{ flight.to }}</td>
        <td>{{ flight.date | date }}</td>
        <td>{{ flight.delayed }}</td>
      </tr>
    } @empty {
      <tr>
        <td colspan="5">No flights found.</td>
      </tr>
    }
  </table>
}
<p>&nbsp;</p>
<div>
  <pre>{{ selectedFlight() | json }}</pre>
</div>
