<h1>Flight Edit</h1>

@if (flight().id !== 0) {
  <app-validation-errors-pane [errors]="flightForm().errors()" [showFieldNames]="true" />
  <form [formRoot]="flightForm">
    <fieldset>
      <legend>Flight</legend>

      <app-flight-form [flight]="flightForm"></app-flight-form>
    </fieldset>

    <fieldset>
      <legend>Aircraft</legend>
      <app-aircraft-form [aircraft]="flightForm.aircraft"></app-aircraft-form>
    </fieldset>

    @let pricesForm = prices();
    <fieldset>
      <legend>Prices</legend>
      <app-validation-errors-pane [errors]="pricesForm().errors()" />
      <app-prices-form [prices]="pricesForm"></app-prices-form>
    </fieldset>

    <div class="mt-40">
      <button [disabled]="isDisabled()">Save</button>
    </div>
  </form>

  <a [routerLink]="['../../advanced-flight-edit', flight().id]">Show Details</a>
}

<p>
  {{ flightForm().errorSummary() | json }}
</p>

@if (flightForm.from().pending()) {
  <div>Waiting for Async Validation Result...</div>
}
